Django==3.2.5
mysqlclient
elasticsearch-dsl>=7.0.0,<8.0.0
requests
django-elasticsearch-dsl
django-model-utils==2.6.1
django-braces==1.12.0
websockets==3.2
django-redis
django-htmlmin
django-pipeline
django-debug-toolbar
pillow
django-ckeditor
django-extensions
Jinja2
python-dateutil
djangorestframework
markdown
django-filter
django-recaptcha
gunicorn
celery==4.4.7
django-celery-results
django-ckeditor
django-nested-inline
django-simple-history
web-pdb
ptvsd
razorpay
django-filter
django-taggit