{% extends 'storefront/users/my-account-base.html' %}

{%block subcontent%}
<div id="page-content">        
    <!--Body Container-->
    <!--Page Title with Image-->
    <div class="page-title"><h1>Change Password</h1></div>
    <!--End Page Title with Image-->
    <div class="container">
        <!--Main Content-->
        <div style="justify-content: space-around;" class="row">
            <div  class="col-12 col-sm-12 col-md-3 col-lg-3 box">	
                <div class="mb-4">
                    <h3>Set New Password</h3>
                    {% if validlink %}
                                {% if form.errors %}
                                    <div class="alert alert-danger">{{ form.errors }}</div>
                                {% endif %}
                                <form method="POST" action="" id="password_reset_form" accept-charset="UTF-8" class="contact-form">	
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                                    <div class="form-group">
                                        <label style="color: black;" for="id_new_password1">New password:</label>
                                        <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1"><br>
                                    </div>
                                        <div class="form-group">
                                            <label  style="color: black;" for="id_new_password2">New password confirmation:</label>
                                            <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
                                        </div>
                                   
                                    <button class="btn btn-dark btn-block btn-rounded" type="submit">Submit</button>
                                        
                                </form>
    
    
                                                    {% else %}
    
                        <h2>The link is either used or invalid</h2>
    
    {% endif %}
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div><!--End Body Container-->   
</div><!--End Page Wrapper-->

{%endblock%}