{% extends 'shop_admin/base.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2">
            <h3 class="content-header-title mb-0 d-inline-block">Add city state Forms</h3>
        </div>
        <div class="content-header-right col-md-4 col-12 d-block d-md-none"><a
                class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1"
                href="chat-application.html"><i class="ft-mail"></i> Email</a></div>
    </div>

    <div class="content-body">
        <!-- Basic form layout section start -->
        <section id="horizontal-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" id="horz-layout-colored-controls">Add city state</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <div class="card-text">
                                    <p>{% if form.non_field_error %}{{form.non_field_errors}}{% endif %}</p>
                                </div>
                                <form class="form form-horizontal" method="POST" novalidate>
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput1">Object Status
                                                        *
                                                    </label>
                                                    <div class="col-md-9">
                                                        <fieldset class="form-group position-relative">
                                                            <span class="danger">{{form.object_status.errors|striptags}}</span>
                                                            {{form.object_status}}
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">
                                                        Name *</label>
                                                    <div class="col-md-9">
                                                        <fieldset class="form-group position-relative">
                                                            <span class="danger">{{form.name.errors|striptags}}</span>
                                                            {{form.name}}
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control"
                                                        for="userinput3">Parent</label>
                                                    <div class="col-md-9">
                                                        <fieldset class="form-group position-relative">

                                                            <span class="danger">{{form.parent.errors|striptags}}</span>
                                                            {{form.parent}}
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput4">Type *
                                                    </label>
                                                    <div class="col-md-9">
                                                        <fieldset class="form-group position-relative">

                                                            <span class="danger">{{form.type.errors|striptags}}</span>
                                                            {{form.type}}
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-12">
                                            <ul class="pagination justify-content-start">
                                                {% if object %} <a href="{{object.delete_url}}"
                                                    class="btn btn-danger mr-1"><i class="ft-trash"></i>&nbsp; Delete
                                                    record</a> {% endif %}
                                            </ul>
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                            <ul class="pagination justify-content-end">
                                                <a href="{{url('shopadmin:citystatelist')}}"
                                                    class="btn btn-danger mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </a>
                                                <button type="submit" class="btn btn-primary mr-1">
                                                    <i class="ft-plus"></i> Save and Add another
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Save
                                                </button>
                                            </ul>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}