
<!--Product Grid-->
<div class="">
    <div class="grid-products grid--view-items">
        <div class="row" id="product_pages">
                {%for option in page_obj %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
                    {%include 'storefront/shop/product/includes/list_item.html'%}    
                </div>
                {%endfor%}        
        </div>
    </div>
    <!--End Product Grid-->
    <!--Load More Button and Page Number-->
    <div style="padding-bottom: 20px;" id="page_no">
        <p id="page_no_text" style="text-align: center;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        {%if page_obj.has_next()%}
        <button class="btn " id="load_more_btn" style="display: block;margin: 0 auto;" onclick="click_for_next()">Load More</button>
        {%endif%}
    </div>
    <!--End Load More Button and Page Number-->
</div>

