
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invoice Table</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

</head>

<body>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: 'Roboto', sans-serif; font-size:12px;">
  <tr>
    <td width="45%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><table style="border-bottom: 1px solid" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="91%" height="16"><strong>//DELIVERY ADDRESS//</strong></td>
          </tr>
          <tr>
            <td height="16" align="left" valign="top"><strong>{{order.user.name}}</strong></td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td height="16" align="left" valign="top">{{order.shipping_address}} </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td height="16" align="left" valign="top"><strong>PIN</strong> {{order.shipping_pincode}}</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      
      <tr>
        <td align="left" valign="top"><table style="border-bottom:1px solid;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle"><img src="img/bar-gen.png" width="183" height="61" /></td>
          </tr>
          
        </table></td>
      </tr>
      
      <tr>
        <td align="left" valign="top"><table style="border-bottom:1px solid #000;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr style="background:#e1e1e1">
            <td width="33.33%" height="30" align="center" valign="middle"><strong>CATEGORY</strong></td>
            <td width="33.33%" height="30" align="center" valign="middle"><strong>QTY</strong></td>
            <td width="33.33%" height="30" align="center" valign="middle"><strong>COLLECT</strong></td>
          </tr>
          <tr>
            <td height="30" align="center" valign="middle" style="border-right:1px solid #000;">womenapparelkurtis</td>
            <td height="30" align="center" valign="middle" style="border-right:1px solid #000;">1</td>
            <td height="30" align="center" valign="middle">N/A</td>
          </tr>
        </table></td>
      </tr>
      
      <tr>
        <td align="left" valign="top"><table style="border-bottom: 1px solid #000" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="12%" align="center" valign="middle">&nbsp;</td>
            <td width="88%" rowspan="3" align="right" valign="middle"><img src="img/bar-gen-2.png" width="198" height="58" /></td>
          </tr>
          <tr>
            <td style="border: 2px solid #000;" align="center" valign="middle"><strong>18-DEC </strong></td>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
          
        </table></td>
      </tr>
      
      <tr>
        <td align="left" valign="top"><table style="border-bottom:1px solid #000" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" height="30">&nbsp;</td>
            <td width="50%" height="30" align="right" valign="middle">SEQUIN CRAFTS </td>
          </tr>
          <tr>
            <td height="16"><strong>//SHIPPER ADDRESS// </strong></td>
            <td rowspan="3" align="right" valign="middle">H-28, RIICO INDUSTRIAL AREA,  MANSAROVAR,  Jaipur, Rajasthan - 302020 </td>
          </tr>
          <tr>
            <td height="16"><strong>//SELLER GSTIN:</strong></td>
            </tr>
          <tr>
            <td height="16"><strong>08ABBFS2427B1ZM// </strong></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle">Beware of fake Calls/SMS/Emails offering any cash/prize under any fraud<br />
scheme/lottery/lucky draw. Do not share any information or pay any amount</td>
          </tr>
          <tr>
            <td height="16" align="center" valign="middle">For any assistance, please visit - https://aadhara.in</td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="border-bottom:1px solid #000; padding-bottom: 15px;"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="10%">&nbsp;</td>
    <td width="45%" align="right" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="30" align="center" valign="middle" style="background:#e1e1e1; border-top:1px solid #000; border-bottom:1px solid #000; font-size:18px;"><b>TAX INVOICE (ORIGINAL FOR RECIPIENT)</b></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td height="5" colspan="2" align="left" valign="middle"></td>
              </tr>
            <tr>
              <td width="51%" height="16" align="left" valign="middle"><strong>INVOICE NUMBER</strong> : {{order.invoice_number}} </td>
            </tr>
            <tr>
              <td height="16" align="left" valign="middle"><strong>INVOICE DATE</strong> : {{order.invoice_date.strftime(date_format)}} </td>
            </tr>
            <tr>
              <td height="16" align="left" valign="middle"><strong>ORDER DATE </strong>: {{order.created.strftime(date_format)}}</td>
            </tr>
            <tr>
              <td height="5" colspan="2" align="left" valign="middle"></td>
              </tr>
            
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr style="background:#e1e1e1; border-top:1px solid #000; border-bottom:1px solid #000;">
              <td style="border-right:1px solid; border-top: 1px solid #000; border-bottom:1px solid #000;" width="50%" height="20"><span class="style3"><b>SELLER</b></span></td>
              <td style="padding-left:15px; border-top: 1px solid #000; border-bottom:1px solid #000;" width="50%"><span class="style4"><b>BUYER</b></span></td>
            </tr>
            <tr>
              <td style="border-right:1px solid" height="16" align="left" valign="top"><span class="style4"><strong>SEQUIN CRAFTS</strong></span></td>
              <td style="padding-left:15px" align="left" valign="top"><strong>PONRAJ</strong></td>
            </tr>
            <tr>
              <td style="border-right:1px solid" height="16" align="left" valign="top">H28, RIICO INDUSTRIAL AREA,  MANSAROVAR</td>
              <td style="padding-left:15px" align="left" valign="top">{{order.shipping_address}}</td>
            </tr>
            <tr>
              <td style="border-right:1px solid" height="16" align="left" valign="top"><span class="style5">CITY</span> JAIPUR / <strong>STATE</strong> RAJASTHAN (08)</td>
              <td style="padding-left: 15px;" align="left" valign="top"><strong>CITY</strong> {{order.shipping_pincode.city_state.name}} /<strong> PLACE OF SUPPLY (POS) -</strong></td>
            </tr>
            <tr>
              <td style="border-right:1px solid" height="16" align="left" valign="top"><strong>PIN</strong> 302020</td>
              <td style="padding-left: 15px;" align="left" valign="top">({{order.shipping_pincode.city_state.get_gst_code()}}) - {{order.shipping_pincode.city_state.state_name}}</td>
            </tr>
            <tr>
              <td style="border-right:1px solid" height="16" align="left" valign="top"><strong>GSTIN</strong> : 08ABBFS2427B1ZM</td>
              <td style="padding-left: 15px;" align="left" valign="top"><strong>PIN</strong> {{order.shipping_pincode.pincode}} </td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="border-right:1px solid" width="50%" height="26"><strong>DISPATCHED VIA</strong> {{order._get_shipping_attribute(4)}} </td>
              <td style="padding-left: 15px;" width="50%"><strong>DISPATCH DOC. NO. (AWB)</strong> {{order._get_shipping_attribute(3)}}</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table style="border-bottom:1px solid #000;" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr style="background:#e1e1e1" >
              <td width="4%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>S.NO</strong></td>
              <td width="40%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>ITEM DESCRIPTION</strong></td>
              <td width="6%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>QTY</strong></td>
              <td width="9%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>RATE</strong></td>
              <td width="9%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>TOTAL</strong></td>
              <td width="9%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>DISCOUNT</strong></td>
              <td width="9%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>TAXABLE  VALUE</strong></td>
              {% if order.is_igst_applicable()%}
              <td width="8%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>IGST</strong></td>
              {%else%}
              <td width="4%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>CGST</strong></td>
              <td width="4%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000; border-right:1px solid #000;"><strong>SGST</strong></td>
              
              {%endif%}
              <td width="6%" height="30" align="center" valign="middle" style=" border-top: 1px solid #000;"><strong>CESS</strong></td>
            </tr>
            {%for op in order.products.all()%}
            <tr style="border-bottom: 1px solid #000">
              <td height="100" align="center" valign="middle" style="border-right:1px solid #000; border-bottom:1px solid #000;">{{loop.index}}</td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000; padding:5px" align="left" valign="middle">
                {{op.product_option.name}}
              </td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.quantity}}</td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.unit_price}}</td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.amount}}</td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.discount_amount}} </td>
              <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.total_without_tax}} </td>
              {% if  order.is_igst_applicable()%}
                <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.tax_calculated()['igst'][1]}}  ({{op.tax_calculated()['sgst'][0]}} %)</td>
              {%else%}
                <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.tax_calculated()['cgst'][1]}} ({{op.tax_calculated()['cgst'][0]}}%)</td>
                <td style="border-right:1px solid #000; border-bottom:1px solid #000;" align="center" valign="middle">{{op.tax_calculated()['sgst'][1]}}  ({{op.tax_calculated()['sgst'][0]}}%)</td>
              
              {%endif%}
              <td align="center" valign="middle" style=" border-bottom:1px solid #000;">0.00  (0.00 %)</td>
            </tr>
            {%endfor%}
            <tr>
              <td height="16" colspan="{% if  order.is_igst_applicable()%}7{%else%}8{%endif%}" align="center" valign="middle" bordercolor="#F0F0F0">TOTAL( INCLUSIVE OF TAXES)</td>
              <td align="center" valign="middle" colspan="2">{{order.get_total()}}</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:5px 0;">
            <tr>
              <td><strong style="text-transform: uppercase;">AMOUNT IN WORDS : INDIAN RUPEES {{convert_to_words(order.get_total(formatted=False))}}</strong></td>
            </tr>
            <tr>
              <td>whether the tax is payable on reverse charge basis : NO </td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="middle">Beware of fake Calls/SMS/Emails offering any cash/prize under any fraud  <br />
                scheme/lottery/lucky draw. Do not share any information or pay any amount</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="65%" height="16"><strong>DECLARATION</strong></td>
              <td style="padding-left:15px;" width="35%"><strong>For SEQUIN CRAFTS</strong></td>
            </tr>
            <tr>
              <td>We declare that this invoice shows actual price of  the goods described inclusive of taxes and that all  particulars are true and correct</td>
              <td style=" padding-left: 15px;"><img src="{{static('assets/images/sign.png')}}" width="65" height="41" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table style="border-bottom: 1px solid" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="65%" height="16" align="left" valign="middle"><strong>CUSTOMER ACKNOWLEDGEMENT </strong></td>
              <td width="35%">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" valign="top">We declare that this invoice shows actual price of  the goods described inclusive of taxes and that all  particulars are true and correct</td>
              <td style=" padding-left: 15px;" align="left" valign="bottom">Authorised Signatory</td>
            </tr>
        </table></td>
      </tr>
     </table>
    </td>
  </tr>
</table>
</body>
</html>
